footer{
    display: flex;
    flex-flow: column wrap;
    font-size: 16px;
    text-align: center;
    color: $color1;
    margin-top: $size3;

    h5{
        margin-bottom: 70px;
        background-color: $color2;
        display: inline-block;
        border: $color1 2px solid;
        padding: 5px;
    }
}

